mixin address(line_1, line_2, city, state, zip)
  .address-container
    .address-line-1= line_1
    if line_2
      .address-line-2= line_2
    span.address-city= city
    | ,&nbsp;
    span.address-state= state
    | &nbsp;
    span.address-zip= zip
